<div class="section ingredients text-center">
  <div class="container">
    <div class="col-sm-4">
      <div class="collage-item item-camera animateme scrollme  hidden-sm hidden-xs" data-when="enter" data-from="1.95" data-to="0"
           data-opacity="1" data-translatex="100" data-translatey="0" data-translatex="-100" data-rotatez="180"> <img src="<%= asset_path 'meat.png'%> " alt="" class="img-responsive" /> </div>
    </div>
    <div class="col-sm-8">
      <div class="slider_info2">
        <h1 class="font_header"><%= t(:packing) %> </h1>
        <h2 class="title-xlarge font_header_larg"><%= t(:online_order) %></h2>
        <div class="stars">
          <img src="<%= asset_path 'stars.jpg'%>" alt="">
        </div>
        <p><%= t(:online_order_body) %></p>
      </div>
      <div class="row">
        <div class="collage-item item-camea animateme scrollme col-sm-4  hidden-sm hidden-xs" data-when="enter" data-from="1.95"
             data-to="0" data-opacity="0" data-translatex="-100" data-translatey="0" data-translatex="200" data-rotatez="160">
          <img src=" <%= asset_path 'bas.png'%> " height="268" alt="" class="img-responsive" /> </div>
        <div class="collage-item item-headphones animateme scrollme col-sm-4  hidden-sm hidden-xs" data-when="enter" data-from="0.95"
             data-to="0" data-opacity="0" data-translatex="150" data-rotatez="160"> <img src="<%= asset_path 'tam.png'%>" alt="" class="img-responsive" /> </div>
        <div class="collage-item item-headphones animateme scrollme col-sm-4 hidden-sm hidden-xs" data-when="enter" data-from="0.95"
             data-to="0" data-opacity="0" data-translatex="150" data-rotatez="160"> <img src="<%= asset_path 'sha.png'%> " alt="" class="img-responsive" /> </div>
      </div>
    </div>
  </div>
</div>
