<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="facebook-feed8" style="margin:0px auto;background-color:#dddddd;padding:0px;margin-top:0px;margin-bottom:0px;">
  <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
  <div id="rev_slider_8_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
    <ul>
      <!-- SLIDE  -->
      <li data-index="rs-28" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="1500"
          data-thumb="<%= asset_path('slider1.jpg') %>" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
          data-saveperformance="off" data-title="Umbrella" data-param1="September 7, 2015" data-param2="Alfon Much, The Precious Stones"
          data-description="">
        <!-- MAIN IMAGE -->
        <img src="<%= asset_path('dummy.png') %>" alt="" width="1920" height="1080" data-lazyload="<%= asset_path('slider1.jpg') %>" data-bgposition="center center"
             data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->
      </li>
      <!-- SLIDE  -->
      <li data-index="rs-303" datxwa-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="1500"
          data-thumb="<%= asset_path('slider2.jpg') %>" data-rotate="0" data-saveperformance="off" data-title="The Dreaming Girl"
          data-param1="September 6, 2015" data-param2="Lol" data-description="">
        <!-- MAIN IMAGE -->
        <img src="<%= asset_path('dummy.png') %>" alt="" width="1920" height="1280" data-lazyload="<%= asset_path('slider2.jpg') %>" data-bgposition="center center"
             data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->
      </li>
      <!-- SLIDE  -->
      <li data-index="rs-302" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="1500"
          data-thumb="slider3.jpg" data-rotate="0" data-saveperformance="off" data-title="Ride my Bike" data-param1="September 4, 2015"
          data-param2="Why not another Image?" data-description="">
        <!-- MAIN IMAGE -->
        <img src="<%= asset_path('dummy.png') %>" alt="" width="1920" height="1280" data-lazyload="slider3.jpg" data-bgposition="center center"
             data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->
      </li>

    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
  </div>
</div>
