<div class="testimonials text-center section">
  <div class="container">
    <div class="testimonials_info">
      <h1 class="font_header"><%= t(:other_info) %> </h1>
      <div class="test">
        <div class="item ">
          <h2 class="title-xlarge font_header_larg"><%= t(:delivery) %> </h2>
          <p><%= t(:delivery_body) %></p>
        </div>
        <div class="item  ">
          <h2 class="title-xlarge font_header_larg"><%= t(:boxes) %> </h2>
          <p><%= t(:boxes_body) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
