<!-- Start Navigation -->
<%= render :layout => '/frontend/home/navigation' do %>
    <%= render 'frontend/home/navlinks' %>
<% end %>

<!-- End Navigation -->
 <div class="clearfix"></div>

<!-- Start Content -->


<!-- End Content -->

<!-- Start Slider -->
<%= render 'frontend/home/slider' %>
<!-- End Slider -->

<!-- Start POPULAR -->
<%#= render 'frontend/home/popular' %>
<!-- End POPULAR -->

<div class="clearfix"></div>

<!-- Start Full Menu -->
<%#= render 'frontend/home/menu' %>
<!-- End Full Menu -->



<!-- Start fishOffer  -->
<%= render 'frontend/home/fishoffer' %>

<!-- End fishOffer  -->

<div class="clearfix"></div>

<!-- Start Ingredients -->
<%= render 'frontend/home/ingredients' %>

<!--End Ingredients  -->

<div class="clearfix"></div>

<!-- Start Delicious -->
<%= render 'frontend/home/delicious' %>

<!-- End Delicious -->

<div class="clearfix"></div>

<!-- Start Testimonials -->
<%= render 'frontend/home/testimonials' %>

<!-- End Testimonials -->

<div class="clearfix"></div>

<!-- Start Contact -->
<%= render 'frontend/home/contact' %>

<!-- End Contact -->

<div class="clearfix"></div>

<!-- Start Address -->
<%#= render 'frontend/home/address' %>

<!-- End Address -->

<div class="clearfix"></div>

