
<h4>Orders</h4>

<% @orders = Order.order(created_at: :desc).first(10) %>

<% if I18n.locale == :en %>
    <% language_url = '?locale=en' %>
    <span><%= link_to t(:show_all), '/admin/order/?locale=en', class: "btn btn-primary" %></span>
    <span style="float:right"><%= @orders.length %> <%= t(:order) %></span>
<% else %>
    <% language_url = '?locale=ar' %>
    <span><%= link_to t(:show_all), '/admin/order/?locale=ar', class: "btn btn-primary" %></span>
    <span style="float:left"><%= t(:order) %> <%= @orders.length %></span>
<% end %>

<table class="table table-condensed table-striped orders_table">
    <thead>
        <tr>
            <th class="header pjax  id_field integer_type" data-href="/admin/order<%= language_url %>&amp;model_name=order&amp;sort=id" rel="tooltip" title="">Id</th>
            <th class="header pjax  total_field decimal_type" data-href="/admin/order<%= language_url %>&amp;model_name=order&amp;sort=total" rel="tooltip" title="">Total</th>
            <th class="header pjax  status_field enum_type" data-href="/admin/order?locale=en&amp;model_name=order&amp;set=1&amp;sort=status" rel="tooltip" title="">Status</th>
            <th class="header pjax  user_phone_number_field string_type" data-href="/admin/order?locale=en&amp;model_name=order&amp;set=1&amp;sort=user_phone_number" rel="tooltip" title="">Phone number</th>
            <th class="header pjax  address_field string_type" data-href="/admin/order?locale=en&amp;model_name=order&amp;set=1&amp;sort=address" rel="tooltip" title="">Address</th>
            <th class="header pjax  user_full_name_field string_type" data-href="/admin/order?locale=en&amp;model_name=order&amp;set=1&amp;sort=user_full_name" rel="tooltip" title="">Full name</th>
            <th class="header pjax  notes_field text_type" data-href="/admin/order?locale=en&amp;model_name=order&amp;set=1&amp;sort=notes" rel="tooltip" title="">Notes</th>
            <th class="header pjax  address_url_field string_type" data-href="/admin/order?locale=en&amp;model_name=order&amp;set=1&amp;sort=address_url" rel="tooltip" title="">Address url</th>
            <th class="order_items_field has_many_association_type"rel="tooltip" title="">Order Items</th>
            <th class="last shrink"></th>
            </tr>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
        <tr class="order_row ">
            <td class="id_field integer_type" title="<%= order.id%>"><%= order.id%></td>
            <td class="total_field decimal_type" title="<%= order.total %>"><%= order.total %></td>
            <td class="status_field enum_type" title="">
            <% order_update_path = edit_path("order", order.id) %>
            <%= form_tag(order_update_path, action: "post", enctype: "multipart/form-data") do %>
            <%= text_field_tag '', order_update_path, type: 'hidden', class: 'order-post-url' %>
            <%= select_tag :status, options_for_select([[:cart, 'cart'], [:pending, "pending"], [:preparing, "preparing"], [:on_the_way, "on_the_way"], [:completed, "completed"]], order.status), :name => "order[status]", :class => "order-status-select" %>
            <% end %>
            </td>
            <% if (order.user_phone_number) %>
            <td class="user_phone_number_field string_type" title="<%= order.user_phone_number %>"><%= order.user_phone_number %></td>
            <% else %>
            <td class="user_phone_number_field string_type" title="<%= order.user_phone_number %>">-</td>
            <% end %>
            <% if (order.address) %>
            <td class="address_field string_type" title="<%= order.address %>"><%= order.address %></td>
            <% else %>
            <td class="address_field string_type" title="<%= order.address %>"> - </td>
            <% end %>
            <% if (order.user_full_name) %>
            <td class="user_full_name_field string_type" title="<%= order.user_full_name %>"><%= order.user_full_name %></td>
            <% else %>
            <td class="user_full_name_field string_type" title="<%= order.user_full_name %>">-</td>
            <% end %>
            <% if (order.notes) %>
            <td class="notes_field text_type" title="<%= order.notes %>"><%= order.notes %></td>
            <% else %>
            <td class="notes_field text_type" title="<%= order.notes %>">-</td>
            <% end %>
            <% if (order.address_url) %>
            <td class="address_url_field string_type" title="<%= order.address_url %>"><%= order.address_url %></td>
            <% else %>
            <td class="address_url_field string_type" title="<%= order.address_url %>">-</td>
            <% end %>
            <td class="order_items_field has_many_association_type" title="">
            <% if (!order.order_items.nil?) %>
                <% order.order_items.each do |order_item| %>
                    <a class="pjax" href="/admin/order_item/<%= order_item.id %>?locale=en"><%= order_item.name %></a>
                <% end %>
            <% end %>
            </td>

            <td class="last links">
                <ul class="inline list-inline">
                    <li title="Show" rel="tooltip" class="icon show_member_link ">
                        <a class="pjax" href="/admin/order/<%= order.id%><%= language_url %>">
                        <i class="icon-info-sign"></i>
                        <span style="display:none">Show</span>
                        </a>
                    </li>
                    
                    <li title="Edit" rel="tooltip" class="icon edit_member_link ">
                        <a class="pjax" href="/admin//<%= order.id%>/edit<%= language_url %>">
                        <i class="icon-pencil"></i>
                        <span style="display:none">Edit</span>
                        </a>
                    </li>
                    
                    <li title="Delete" rel="tooltip" class="icon delete_member_link ">
                        <a class="pjax" href="/admin/order/<%= order.id%>/delete<%= language_url %>">
                        <i class="icon-remove"></i>
                        <span style="display:none">Delete</span>
                        </a>
                    </li>
                    
                    <li title="Show in app" rel="tooltip" class="icon show_in_app_member_link ">
                        <a class="" href="/admin/order/<%= order.id%>/show_in_app<%= language_url %>">
                        <i class="icon-eye-open"></i>
                        <span style="display:none">Show in app</span>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<h4>Products</h4>
<% @products = Product.order(created_at: :desc).first(10) %>

<% if I18n.locale == :en %>
    <span style="padding-right: 10px"><%= link_to t(:show_all), '/admin/product/?locale=en', class: "btn btn-primary" %></span>
    <span><%= link_to t(:add_new), '/admin/product/new/?locale=en', class: "btn btn-primary" %></span>
    <span style="float:right"><%= @products.length %> Products</span>
<% else %>
    <span style="padding-right: 10px"><%= link_to t(:show_all), '/admin/product/?locale=ar', class: "btn btn-primary" %></span>
    <span><%= link_to t(:add_new), '/admin/product/new/?locale=ar', class: "btn btn-primary" %></span>
    <span style="float:left">Products <%= @products.length %></span>
<% end %>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th class="  name_field string_type" rel="tooltip" title="">Name</th>
            <th class="header pjax  piece_price_field decimal_type" data-href="/admin/product?<%= language_url %>&amp;model_name=product&amp;sort=piece_price" rel="tooltip" title="">Piece Price</th>
            <th class="header pjax  kilo_price_field decimal_type" data-href="/admin/product?<%= language_url %>&amp;model_name=product&amp;sort=kilo_price" rel="tooltip" title="">Kilo Price</th>
            <th class="header pjax  category_field belongs_to_association_type" data-href="/admin/product?<%= language_url %>&amp;model_name=product&amp;sort=category" rel="tooltip" title="">Category</th>
            <th class="header pjax  promotion_kilo_price_field decimal_type" data-href="/admin/product?<%= language_url %>&amp;model_name=product&amp;sort=promotion_kilo_price" rel="tooltip" title="">Promotion kilo Price</th>
            <th class="header pjax  promotion_piece_price_field decimal_type" data-href="/admin/product?<%= language_url %>&amp;model_name=product&amp;sort=promotion_piece_price" rel="tooltip" title="">Promotion piece Price</th>
            <th class="last shrink"></th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product_item| %>
        <tr class="product_row ">
            <td class="name_field string_type" title="<%= product_item.name.humanize %>"><%= product_item.name.humanize %></td>
            <td class="piece_price_field decimal_type" title="<%= product_item.piece_price %>"><%= product_item.piece_price %></td>
            <td class="kilo_price_field decimal_type" title="<%= product_item.kilo_price %>"><%= product_item.kilo_price %></td>
            <% if product_item.category.nil? || product_item.category == 0 %>
            <td class="category_field belongs_to_association_type" title=""></td>
            <% else %>
            <td class="category_field belongs_to_association_type" title="<%= product_item.category.name %>"><a class="pjax" href="/admin/category/<%= product_item.category.id %><%= language_url %>"><%= product_item.category.name %></a></td>
            <% end %>
            <td class="promotion_kilo_price_field decimal_type" title="<%= product_item.promotion_kilo_price %>"><%= product_item.promotion_kilo_price %></td>
            <td class="promotion_piece_price_field decimal_type" title="<%= product_item.promotion_piece_price %>"><%= product_item.promotion_piece_price %></td>
            <td class="last links">
                <ul class="inline list-inline">
                    <li title="Show" rel="tooltip" class="icon show_member_link ">
                        <a class="pjax" href="/admin/product/<%= product_item.id %><%= language_url %>">
                        <i class="icon-info-sign"></i>
                        <span style="display:none">Show</span>
                        </a>
                    </li>
                    
                    <li title="Edit" rel="tooltip" class="icon edit_member_link ">
                        <a class="pjax" href="/admin/product/<%= product_item.id %>/edit<%= language_url %>">
                        <i class="icon-pencil"></i>
                        <span style="display:none">Edit</span>
                        </a>
                    </li>
                    
                    <li title="Delete" rel="tooltip" class="icon delete_member_link ">
                        <a class="pjax" href="/admin/product/<%= product_item.id %>/delete<%= language_url %>">
                        <i class="icon-remove"></i>
                        <span style="display:none">Delete</span>
                        </a>
                    </li>
                    
                    <li title="Show in app" rel="tooltip" class="icon show_in_app_member_link ">
                        <a class="" href="/admin/product/<%= product_item.id %>/show_in_app<%= language_url %>">
                        <i class="icon-eye-open"></i>
                        <span style="display:none">Show in app</span>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<h4>Models</h4>

<% max_count = 0 %>
<% @abstract_models.each do |list_model| %>
<% if max_count < list_model.count() %>
<% max_count = list_model.count() %>
<% end %>
<% end %>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th class="shrink model-name">Model name</th>
            <th class="shrink last-created">Last created</th>
            <th class="records">Records</th>
            <th class="shrink controls"></th>
        </tr>
    </thead>
    <tbody>
        <% @abstract_models.each do |list_model| %>

        <% list_model_item = list_model.new %>
        <% list_model_name = list_model_item.class.name.underscore.humanize %>
        <% list_model_slug = list_model_name.downcase.strip.gsub(' ', '_').gsub(/[^\w-]/, '') %>
        <% list_model_name = 'activerecord.models.' + list_model_slug %>

        <% list_count = list_model.count() %>
        <% if max_count == 0 %>
            <% list_count_percent = 0 %>
        <% else %>
            <% list_count_percent = list_count > 0 ? (max_count <= 1 ? list_count : ((Math.log(list_count+1) * 100.0) / Math.log(max_count+1)).to_i) : -1 %>
            <% list_animate_length = [1.0, list_count_percent].max.to_i * 20 %>
            <% list_animate_with_to = [2.0, list_count_percent].max.to_i %>
        <% end %>

        <% if list_model_slug == 'admin' %>
        <% last_list_model_item = Admin.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'blog' %>
        <% last_list_model_item = Blog.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'category' %>
        <% last_list_model_item = Category.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'city' %>
        <% last_list_model_item = City.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'incoming_store' %>
        <% last_list_model_item = IncomingStore.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'meter' %>
        <% last_list_model_item = Meter.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'order' %>
        <% last_list_model_item = Order.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'other_service' %>
        <% last_list_model_item = OtherService.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'product' %>
        <% last_list_model_item = Product.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'slider' %>
        <% last_list_model_item = Slider.order(created_at: :desc).last(1) %>
        <% elsif list_model_slug == 'team_member' %>
        <% last_list_model_item = TeamMember.order(created_at: :desc).last(1) %>
        <% end %>

        <tr class="odd link <%= list_model_slug %>_links" data-link="/admin/<%= list_model_slug %><%= language_url %>">
            <td>
                <span class="show"><a class="pjax" href="/admin/<%= list_model_slug %><%= language_url %>"><%= t(list_model_name) %></a></span>
            </td>
            <td>
                <% if list_count > 0 %>
                    <%= distance_of_time_in_words(Time.new, last_list_model_item[0].created_at.to_datetime) %> ago
                <% end %>

            </td>
            <td>
                <% if list_count_percent == 0 %>
                    <div class="progress progress-" style="margin-bottom:0px">
                        <div class="animate-width-to progress-bar progress-bar-" data-animate-length="<%= list_animate_length %>%" data-animate-width-to="<%= list_animate_with_to %>%" style="width: 2%;">0</div>
                    </div>
                <% elsif list_count_percent == 100 %>
                    <div class="false progress progress-danger" style="margin-bottom:0px">
                        <div class="animate-width-to progress-bar progress-bar-danger" data-animate-length="<%= list_animate_length %>%" data-animate-width-to="<%= list_animate_with_to %>%" style="width: 2%;"><%= list_count %></div>
                    </div>
                <% else %>
                    <div class="false progress progress-success" style="margin-bottom:0px">
                        <div class="animate-width-to progress-bar progress-bar-success" data-animate-length="<%= list_animate_length %>%" data-animate-width-to="<%= list_animate_with_to %>%" style="width: 2%;"><%= list_count %></div>
                    </div>
                <% end %>
            </td>
            <td class="links">
                <ul class="inline list-inline">
                    <li title="List" rel="tooltip" class="icon index_collection_link ">
                        <a class="pjax" href="/admin/<%= list_model_slug %><%= language_url %>">
                        <i class="icon-th-list"></i>
                        <span style="display:none">List</span>
                        </a>
                    </li>
                    
                    <li title="Add new" rel="tooltip" class="icon new_collection_link ">
                        <a class="pjax" href="/admin/<%= list_model_slug %>/new?<%= language_url %>">
                        <i class="icon-plus"></i>
                        <span style="display:none">Add new</span>
                        </a>
                    </li>
                    
                    <li title="Export" rel="tooltip" class="icon export_collection_link ">
                        <a class="pjax" href="/admin/<%= list_model_slug %>/export?<%= language_url %>">
                        <i class="icon-share"></i>
                        <span style="display:none">Export</span>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>